{% extends "layout/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h3 class="page-header">Produtos</h3>
    </div>
    <div class="col-lg-6 right">
        <a href="/produto/inserir" class="btn btn-primary">
            Inserir Produto
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td style="width: 40%">Produto</td>
                            <td style="width: 40%">Tipo do Produto</td>
                            <td style="width: 10%" class="right">Valor</td>
                            <td style="width: 10%"></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% if produtos|length > 0 %}
                        {% for produto in produtos %}
                        <tr>
                            <td>{{ produto.nome }}</td>
                            <td>{{ produto.tpr_nome }}</td>
                            <td class="right">{{ produto.valor|number_format(2, ',', '.') }}</td>
                            <td class="center">
                                <a href="/produto/editar/{{ produto.id }}" title="Editar" class="btn btn-success"><i class="icon_pencil-edit"></i></a>
                                <a href="#" title="Excluir" onclick="excluir({{ produto.id }})" class="btn btn-danger"><i class="icon_close_alt2"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="4" class="center">Nenhum Registro</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

{% if (mensagem) %}
<div class="alert alert-{{ mensagem.status }} fade in">
    <button data-dismiss="alert" class="close close-sm" type="button">
        <i class="icon-remove"></i>
    </button>
    <strong>{{ mensagem.titulo }}!</strong> {{ mensagem.mensagem }}
</div>
{% endif %}

<script type="text/javascript" src="/js/produto/index.js"></script>
{% endblock %}