{% extends "layout/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h3 class="page-header">Listar Vendas</h3>
    </div>
    <div class="col-lg-6 right">
        <a href="/venda/inserir" class="btn btn-primary">
            Nova Venda
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td style="width: 40%">Venda</td>
                            <td style="width: 10%" class="right">Total</td>
                            <td style="width: 10%" class="right">Total Impostos</td>
                            <td style="width: 10%"></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for venda in vendas %}
                        <tr>
                            <td>{{ venda.nome }}</td>
                            <td class="right">R$ {{ venda.total|number_format(2, ',', '.') }}</td>
                            <td class="right">R$ {{ venda.total_imposto|number_format(2, ',', '.') }}</td>
                            <td class="center">
                                <a href="/venda/visualizar/{{ venda.id }}" class="btn btn-info"><i class="fa fa-search"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

{% if (mensagem) %}
<div class="alert alert-{{ mensagem.status }} fade in">
    <button data-dismiss="alert" class="close close-sm" type="button">
        <i class="icon-remove"></i>
    </button>
    <strong>{{ mensagem.titulo }}!</strong> {{ mensagem.mensagem }}
</div>
{% endif %}

{% endblock %}
