{% extends "layout/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h3 class="page-header">Detalhes da Venda</h3>
    </div>
    <div class="col-lg-6 right">
        <a href="/venda" class="btn btn-secondary">
            Listar Vendas
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-heading">
                {{ venda.nome }}
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td style="width: 30%">Produto</td>
                            <td style="width: 14%" class="right">Valor</td>
                            <td style="width: 14%" class="right">% Imposto</td>
                            <td style="width: 14%" class="right">Quantidade</td>
                            <td style="width: 14%" class="right">Total</td>
                            <td style="width: 14%" class="right">Total Impostos</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in vendaProduto %}
                        <tr>
                            <td>{{ produto.produto }}</td>
                            <td class="right">R$ {{ produto.valor|number_format(2, ',', '.') }}</td>
                            <td class="right">{{ produto.imposto|number_format(2, ',', '.') }} %</td>
                            <td class="right">{{ produto.quantidade|number_format(0, ',', '.') }}</td>
                            <td class="right">R$ {{ produto.total|number_format(2, ',', '.') }}</td>
                            <td class="right">R$ {{ produto.total_imposto|number_format(2, ',', '.') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="right"></td>
                            <td class="right"></td>
                            <td class="right"></td>
                            <td class="right">R$ {{ venda.total|number_format(2, ',', '.') }}</td>
                            <td class="right">R$ {{ venda.total_imposto|number_format(2, ',', '.') }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</div>

{% if (mensagem) %}
<div class="alert alert-{{ mensagem.status }} fade in">
    <button data-dismiss="alert" class="close close-sm" type="button">
        <i class="icon-remove"></i>
    </button>
    <strong>{{ mensagem.titulo }}!</strong> {{ mensagem.mensagem }}
</div>
{% endif %}
{% endblock %}